body{
  background-color: #00C2FF;
  margin: 0px; 
  padding:0px;
  text-align:center;
}

#header{
  text-align: center;
  font-size: 2em;
  font-family: 'Permanent Marker', cursive; 
  background-color: #167B9A;
  border-bottom: 5px solid #415655;
  padding: 5px;
}

#content{
  width:80%;
  margin:0px auto;
  text-align:left;
  padding:15px;
  padding-top: 0px;
}

#all-users, #all-reservations{
  margin: 10px;
}

.section-header{
  font-size: 1.25em; 
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 10px;
  border-bottom: 2px solid #415655;
}

.user, .event{
  width: 100%;
  float: left;
  margin: 5px;
  background-color: #1F2122;
  color: #E3F6FC;
  padding: 10px;  
}

.user > .name, .user > .name > a {
  font-weight: bold;
  border-bottom: 2px solid #167B9A;
}

.user > .name > a{
  color: #E3F6FC;
  text-decoration: none;
}

.user > .name > a{
  color: #E3F6FC;
  text-decoration: none;
}

.user > .name > a:hover {
  color: #E3F6FC;
  font-style: italic;
}
.user > .info{
  padding: 5px;
}

.user > .info > .label{  
  font-weight: bold;
  text-align: right;
  float: left;
}

.user > .info > .value{
  margin-left: 60px;
}

.event > .header{
  width: 100%;
  border-bottom: 3px dashed #00C2FF;
  padding: 3px;
  float: left;
}

.event > .header > .field {
  width: 33%;
  float: left;
}

.reservations > .field{
  width: 40%;
  float: left;
  padding: 5px;
}

