<div class='user'>
  <div class='name'><%= "#{user.first_name} #{user.last_name}" %></h3> 
  <div class='info'>
    <div class='label'>Email: </div>
    <div class='value'> <%= user.email %> </div>
  </div>
  <div class='info'>
    <div class='label'>Age: </div>
    <div class='value'> <%= user.age %> </div>
  </div>
<div>
