<h2> Users Mailing List </h2>
<div>
  <% users.each do |user| %>
    <%= erb :'users/_view', locals:{user: user} %>
    <div>
      <a href='/users/<%= user.id %>'>View</a>
    </div>
  <% end %>
</div>
