<h2> Users Mailing List </h2>
<div>
  <% users.each do |user| %>
    <div class='user'>
      <div>
        <a href='/users/<%= user.id %>'>
          <%= "#{user.first_name} #{user.last_name}" %>
        </a>
      </div>
    </div>
  <% end %>
</div>
