<div>
  <form action='' method=''>
    <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
    <div><%= user.email %> </div>
    <div><%= user.age   %> </div>
    <div>
      <input type='submit' value='delete'/>
    </div>
  </form>
</div>
