<div> The Club is coming soon... Signup Now for our mailing list </div>
<hr />
<form method='' action=''>
  <div>
    <input type='text'    name=''     placeholder='Your First Name' />
    <input type='text'    name=''     placeholder='Your Last Name' />
    <input type='number'  name=''     placeholder='Age ' min='0' max='150'  />
    <input type='email'   name=''     placeholder='Your Email Address' />
  </div> 
  <div>
    <input type='submit' value='signup' />
  </div>
</form>
