<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src="/js/basic.js"></script>
  <script src="/js/application.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

  <title>The Underground</title>
</head>
<body>
<div id="content">
  <div id='header'>
    <div>The Underground</div>
    <div>
      <% if session[:user_id] %>
      <form action='/session/end' method='post' >
        <input type='submit' value = 'logout' />
      </form>
      <% else %>
        <a href='/session/new'>Login</a>
      <% end %>
    </div>
    <% if @error %>
      <div class='error'>
        <%= @error %>
      </div>
    <%end%>

  </div>
  <div class="container">
  <%= yield %>
  </div>
</div>
</body>
</html>
